<div class="cartPageContainer">
    <div class="cartPageHeading">Shopping cart</div>
    <div class="shoppingCart">
        {{#if noProducts}}
        <div class="shoppingCartError">Cart is empty!
            <br><br><a class="shoppingCartLink" href="/products">Shop now</a>
        </div>
        {{else}}
        {{#each product}}
        <div class="shoppingCartPanel">
            <div class="shProductImage"><img src="{{this.image}}"></div>
            <div class="shWrap">
                <div class="shProductTitle">{{this.title}}</div>
                <div class="shProductDesc">Description: {{this.desc}}</div>
                <div class="shProductPrice">Price: <span>${{this.price}}</span></div>
            </div>
            <div class="shWrap2"></div>
            <div class="shProductQuantity">Quantity: {{this.quantity}}</div>
            <div class="shProductTotal">Item Total: <span>${{this.itemTotal}}</span></div>
        </div>
        {{/each}}
        <div class="cartPageHeading" style="background-color: white;">Order total : ${{orderTotal}}</div>
        <form class = "shoppingForm" action="/user/cart/{{user._id}}" method="POST">
            <div id="buttonWrapper">
                <input id="submitButton" type="submit" value="Place Order">
            </div>
        </form>
        {{/if}}
    </div>
</div>