<main>
<div id="body">
        <div id="carousel">
            <img src="/img/prom.jpg">
        </div>
        <div id="prodCategoryContainer">
            {{#each prodCategory}}
                <div class="productCategory">
                    <h2>{{this.category}}</h2>
                    <img src={{this.img}}>    
                </div>
            {{/each}}
        </div>
        <div class="bestSellerContainer">
            <h2>Best Sellers in {{bestSeller.category}}</h2>
            <div class="bestSellers">
                {{#each bestSeller.prods}}
                <div class=bestSellerImage>
                    <img src={{this.image}}>
                    <a class="vProdLink" href="/products/view/{{this.id}}"><span class="vProdLinkSpan"></span></a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</main>