<div class="prodBody">
    <div class="list">
        <div class="listHeading">
            Products
        </div>
        <ul class="categoryList">
            {{#each category}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="productsContainer">
        {{#each prod}}
            <div class="card">
                <div class="c-image">
                    <img src="{{this.image}}">
                </div>
                <div class="c-cat">
                    {{#if this.bestSeller}}
                        <span style="color: red; font-weight: bold;">BestSeller</span>
                    {{/if}}
                    {{this.description}}
                </div>
                <div class="c-title">{{this.title}}</div>
                <div class="price">${{this.price}}</div>
                <div class="addToCartDiv">
                    <form class="addToCart" action="/products/cart/{{this.id}}" method="POST">
                    <button type="submit">Add to Cart</button>
                    <input name="maxQuantity" type="hidden" value={{this.quantity}}>
                    <input name="quantity" type="hidden" value="1">
                    </form>
                </div>
                <a class="vProdLink" href="/products/view/{{this.id}}"><span class="vProdLinkSpan"></span></a>
            </div>
        {{/each}}
    </div>
</div>