<div class="searchprodBody">
    {{#if notFound}}
    <div class ="searchError">
        <p>No products found with the name '{{this.searchWord}}'</p>
    </div>
    {{else}}
    <div class="productsContainer">
        {{#each prod}}
            <div class="card">
                <div class="c-image">
                    <img src="{{this.image}}">
                </div>
                <div class="c-cat">
                    {{#if this.bestSeller}}
                        <span style="color: red; font-weight: bold;">BestSeller</span>
                    {{/if}}
                    {{this.category}}
                </div>
                <div class="c-title">{{this.title}}</div>
                <div class="price">${{this.price}}</div>
                <div><button>Add to Cart</button></div>
            </div>
        {{/each}}
    </div>
    {{/if}}
</div>